auditflow-pro/backend/step_functions/state_machine.asl.json
{
  "Comment": "AuditFlow-Pro Document Processing and Risk Scoring Pipeline",
  "StartAt": "ProcessAllDocuments",
  "States": {
    "ProcessAllDocuments": {
      "Type": "Map",
      "Comment": "Parallel processing of all documents in the application.",
      "ItemsPath": "$.documents",
      "ResultPath": "$.processed_documents",
      "MaxConcurrency": 10,
      "Iterator": {
        "StartAt": "ClassifyDocument",
        "States": {
          "ClassifyDocument": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ClassifierFunctionArn}",
              "Payload": {
                "document_id.$": "$.document.document_id",
                "s3_bucket.$": "$.document.s3_bucket",
                "s3_key.$": "$.document.s3_key",
                "loan_application_id.$": "$.loan_application_id"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "States.Timeout",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 3.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "HandleDocumentError"
              }
            ],
            "ResultSelector": {
              "document_id.$": "$.Payload.document_id",
              "document_type.$": "$.Payload.document_type",
              "confidence.$": "$.Payload.confidence",
              "requires_manual_review.$": "$.Payload.requires_manual_review",
              "s3_bucket.$": "$.Payload.s3_bucket",
              "s3_key.$": "$.Payload.s3_key",
              "loan_application_id.$": "$.Payload.loan_application_id",
              "metadata.$": "$.Payload.metadata"
            },
            "Next": "CheckClassificationConfidence"
          },
          "CheckClassificationConfidence": {
            "Type": "Choice",
            "Choices": [
              {
                "Variable": "$.requires_manual_review",
                "BooleanEquals": true,
                "Next": "FlagForManualReview"
              }
            ],
            "Default": "ExtractData"
          },
          "FlagForManualReview": {
            "Type": "Pass",
            "Result": {
              "processing_status": "SKIPPED_NEEDS_REVIEW"
            },
            "ResultPath": "$.extraction_result",
            "End": true
          },
          "ExtractData": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "FunctionName": "${ExtractorFunctionArn}",
              "Payload.$": "$"
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "States.TaskFailed",
                  "States.Timeout",
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 5,
                "MaxAttempts": 3,
                "BackoffRate": 3.0
              }
            ],
            "Catch": [
              {
                "ErrorEquals": [
                  "States.ALL"
                ],
                "Next": "HandleDocumentError"
              }
            ],
            "ResultSelector": {
              "document_id.$": "$.Payload.document_id",
              "document_type.$": "$.Payload.document_type",
              "extracted_data.$": "$.Payload.extracted_data",
              "processing_status.$": "$.Payload.processing_status",
              "low_confidence_fields.$": "$.Payload.low_confidence_fields",
              "pii_detected.$": "$.Payload.pii_detected",
              "loan_application_id.$": "$.Payload.loan_application_id"
            },
            "End": true
          },
          "HandleDocumentError": {
            "Type": "Pass",
            "Comment": "Catches individual document failures so the rest of the Map state can continue.",
            "Result": {
              "processing_status": "FAILED"
            },
            "ResultPath": "$.processing_status",
            "End": true
          }
        }
      },
      "Next": "CheckAllDocumentsProcessed",
      "Parameters": {
        "document.$": "$$.Map.Item.Value",
        "loan_application_id.$": "$.loan_application_id"
      }
    },
    "CheckAllDocumentsProcessed": {
      "Type": "Pass",
      "Comment": "Aggregation point waiting for all parallel documents to finish.",
      "Next": "ValidateDocuments"
    },
    "ValidateDocuments": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ValidatorFunctionArn}",
        "Payload": {
          "loan_application_id.$": "$.loan_application_id",
          "document_ids.$": "$.processed_documents[*].document_id"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 3.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleWorkflowError"
        }
      ],
      "ResultPath": "$.validation_results",
      "ResultSelector": {
        "inconsistencies.$": "$.Payload.inconsistencies",
        "golden_record.$": "$.Payload.golden_record",
        "documents.$": "$.Payload.documents"
      },
      "Next": "CalculateRiskScore"
    },
    "CalculateRiskScore": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${RiskScorerFunctionArn}",
        "Payload": {
          "loan_application_id.$": "$.loan_application_id",
          "inconsistencies.$": "$.validation_results.inconsistencies",
          "golden_record.$": "$.validation_results.golden_record",
          "documents.$": "$.validation_results.documents"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 3.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleWorkflowError"
        }
      ],
      "ResultPath": "$.risk_results",
      "ResultSelector": {
        "risk_assessment.$": "$.Payload.risk_assessment"
      },
      "Next": "GenerateReport"
    },
    "GenerateReport": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "${ReporterFunctionArn}",
        "Payload": {
          "loan_application_id.$": "$.loan_application_id",
          "documents.$": "$.validation_results.documents",
          "inconsistencies.$": "$.validation_results.inconsistencies",
          "golden_record.$": "$.validation_results.golden_record",
          "risk_assessment.$": "$.risk_results.risk_assessment"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "States.TaskFailed",
            "States.Timeout"
          ],
          "IntervalSeconds": 5,
          "MaxAttempts": 3,
          "BackoffRate": 3.0
        }
      ],
      "Catch": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "Next": "HandleWorkflowError"
        }
      ],
      "End": true
    },
    "HandleWorkflowError": {
      "Type": "Fail",
      "Comment": "Global error handling state if any of the main pipeline Lambdas fail after 3 retries.",
      "Error": "WorkflowFailed",
      "Cause": "A critical step in the document processing pipeline failed."
    }
  }
}